# Python
__pycache__/
*.pyc

# Environments
metaforge_venv/

# Data
data/
*.csv

# Models & artifacts
models/
*.pkl
*.joblib

# OS
.DS_Store

#datasets
datasets/

# dataset_miner
src/dataset_miner.py
